
<div class="container is-flex is-align-items-center is-flex-direction-column is-size-4 is-size-5-touch has-text-white" style="padding: inherit;">
  <h1 class="is-size-3 is-size-4-touch ">
      ¡Bienaventurado sea el virtuoso!
  </h1>
  <p>
    <br>
    ¡Hola Mundo!, Este es el sitio oficial de Carlos Peña, genio, millonario, filantropo, playboy... 
  </p>
  <p class="">
  <br>  
  Como parte de mi objectivo de convencer a los reclutdores de mis habilidades más alla del canon tradicional de titulo, edad y experiencia laboral. He creado este sitio como manifiesto de mi trabajo y mis ideales. Pero más alla de este proposito mundan, espero utilizar este recurso como ventana a mis conocimientos y a la comunidad de personas de habla hispana versada en estos temas.
  </p>
</div>