@page "/"

<PageTitle>Index</PageTitle>

<div class="columns is-flex-grow-1">
  @* <div class="column">
    <KPAudio/>
  </div>
  <div class="column">
    Second columm
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column

  </div> *@
  <div class="column is-1"> </div>
  <div class="column has-background-black-ter">
    <div class="is-flex is-justify-content-center">
      <p class="">
        Que hay banda
      </p>
    </div>
  </div>
  <div class="column is-1"></div>
</div>
