@page "/"

<PageTitle>Index</PageTitle>

<div class="columns">
  <div class="column">
    <KPAudio/>
  </div>
  <div class="column">
    Second columm
    @* <KPGeolocation/> *@
  </div>
  <div class="column">
    Third column
    @* <KPipAddress/> *@
  </div>
  <div class="column">
    Fourth column

  </div>
</div>
