
<div class="container is-flex is-align-items-center is-flex-direction-column is-size-4 is-size-5-touch has-text-white" style="padding: inherit;">
  <h1 class="is-size-3 is-size-4-touch ">
      ¡Bienaventurado sea el virtuoso!
  </h1>
  <p>
    <br>
    ¡Hola Mundo!, Este es el sitio oficial de Carlos Peña, genio, millonario, filantropo, playboy... 
  </p>
  <p class="">
  <br>  
  Como parte de mi objetivo de convencer a los reclutadores de mis habilidades más allá del canon tradicional de título, edad y 
  experiencia laboral. He creado este sitio como manifiesto de mi trabajo y mis ideales. Pero fuera de este propósito, mundano, espero, 
  utilizar este recurso como ventana a mis conocimientos en programación(C# .NET6, C), filosofía, electronica, artes, ... y así llegar a 
  la comunidad de personas de habla hispana versada en estos temas.
  </p>
</div>