
<div style="@($"background-image: url('{Image}'); background-repeat: no-repeat; background-position: 110% -150%; background-size: 100% 86%;")" class="is-flex  is-flex-direction-column is-flex-grow-1">
  <Background>
    <div class="section py-2">
        <NavMenu />
    </div>
    <div class="section is-flex is-flex-grow-1">
      <div class="columns is-flex-grow-1">
        <div class="column is-1"> </div>
        <div class="column has-background-black-ter has-text-white">
          @ChildContent
        </div>
        <div class="column is-1"></div>
      </div>
    </div>
  </Background>
</div>


@code{
  [CascadingParameter] 
  public string Image { get; set; } = "";

  [Parameter]
  public RenderFragment? ChildContent { get; set; }
}