
<footer class="footerKP">
	<div id = "footer" class="content has-text-centered">
				<p class="is-size-5 has-text-white"></p>
				<p class="is-size-5 has-text-white">Persona and all associated graphics are trademarks of ATLUS.</p>
	</div>
</footer>