
<footer class="footerKP is-flex is-flex-direction-column">
	<div id = "footer" class="content has-text-centered">
				<p class="is-size-5 has-text-white"></p>
				<p class="is-size-5 has-text-white">Persona 5 and all associated graphics are trademarks of ATLUS.</p>
	</div>
</footer>