@inherits LayoutComponentBase

<PageTitle>site</PageTitle>

<div class="section">
    <NavMenu />
</div>

<div class="section">
    @Body
</div>

@* ****El footer para que sirva de footer no puede ir contenido en otro elemento***** *@
    <KPfooter/>
