@using PexelsDotNetSDK.Api;
@inherits LayoutComponentBase

@inject KPServices.ClockAbstract.IClockAbstract _ClockService
@inject PexelsClient _pexelClient;

<PageTitle>site</PageTitle>

@* <div style="@($"background:{dayColor};")" class="is-flex  is-flex-direction-column is-flex-grow-1"> *@
<div style="@($"background-image: url('{image}'); background-repeat: no-repeat; background-position: 110% -150%; background-size: 100% 86%;")" class="is-flex  is-flex-direction-column is-flex-grow-1">
  <Background>
    <div class="section py-2">
        <NavMenu />
    </div>

      <div class="section is-flex is-flex-grow-1">
          @Body
      </div>
  </Background>
</div>

@* ****El footer para que sirva de footer no puede ir contenido en otro elemento***** *@
    <KPfooter/>

@code{
  string image = "";
  string? dayColor;  

  protected override async Task OnInitializedAsync()
  {
    var t = _ClockService.GetLocalTime().Hour;
    dayColor = t switch 
    {
      >= 0 and < 4 => "city night",
      >= 4 and < 7 => "city  sunrise",
      >= 7 and < 15 => "city landscaped ",
      >= 15 and < 20 => "city sunset",
      >= 20  => "city at night",
      _ =>"city",
    };
    var p = await _pexelClient.SearchPhotosAsync(dayColor, "landscape", "small",  pageSize: 10);
    var i = new System.Random();
    
    image = p.photos[i.Next(1,10)].source.landscape;
    /* dayColor = t switch 
    {
      >= 0 and < 4 => "radial-gradient(circle, #020016, #00061f, #000)",
      >= 4 and < 7 => "#011734",
      >= 7 and < 15 => "#b0e2ff",
      >= 15 and < 20 => "radial-gradient(circle, #faf722, #923511c9, #2f0000)",
      >= 20  => "radial-gradient(circle, #020016, #00061f, #000)",
      _ =>"#b0e2ff",
    }; */
  }
}

  